
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form method="post" action="/physicians/signup">
<p>Welcome: <%= @new_user.username %></p>

<p>Please enter your patients:</p>

<label>Username</label><br>
<input type="text" name="username">
<br>
<br>

<label>Password</label><br>
<input type="text" name="password">
<br>
<br>

  <a href="/physicians/login"> Add Patient </a>
</form>
