<h2> Physician Signup </h2>

<form method="post" action="/signup">
  <label>Username</label><br>
  <input type="text" name="NPI">
  <br>
  <br>
  <label>NPI</label><br>
  <input type="text" name="password">
  <br> 
  <br>
  <label>Password</label><br>
  <input type="text" name="username">
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form>
