<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2> Physician Signup </h2>
<form method="post" action="/physicians/signup">
  <label>Username</label><br>
  <input type="text" name="username">
  <br>
  <br>
  <label>NPI</label><br>
  <input type="text" name="npi">
  <br>
  <br>
  <label>Password</label><br>
  <input type="text" name="password">
  <br>
  <br>
  <input type="submit" value="Sign Up">
<br>
<br>
<br>
  <a class="button" href="/logout">Logout</a>
<br>
<br>
</form>
