<% if flash.has?(:message) %>
    <%=flash[:message] %>
        <% end %>
          <h2> Login </h2>
            <p> Please Login to Your Physician Page </p>
              <form method="post" action="/physicians/login">
                <label>Username
                  <input id="username" name="username">
                </label>
                <br>
                <br>
                <br>
                <label>Password
                  <input id="password" name="password">
                </label>
                <br>
                <br>
                <br>
                <input type="submit" id="submit" value="Login">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class="button" href="/logout">Return to Main Menu</a>
              </form>