<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2> Login </h2>

<form method="post" action="/physicians/login">
  <label>Username</label><br>
  <input type="text" name="username">
  <br>
  <br>

  <label>Password</label><br>
  <input type="text" name="password">
  <br>
  <br>

  <input type="submit" id="submit" value="Login">
  <br>
  <br>
  <br>

  <h3>Not yet a physician member? Sign Up here:</h3>
  <br>
  <br>
  <br>
  <a href="/physicians/signup"> Sign Up </a>
  <br>
  <br>
  <br>
  <a class="button" href="/logout">Logout</a>

</form>
