<h2> Login </h2>

<form method="post" action="/physicians">
  <label>Username</label><br>
  <input type="text" name="username">
  <br>
  <br>

  <label>Password</label><br>
  <input type="text" name="password">
  <br>
  <br>

  <input type="submit" id="submit" value="Login">

  <h3>Not yet a physician member? Sign Up here:</h3>

  <a href="/physicians/signup"> Sign Up </a>
</form>
