<p>Welcome, to your Patient Page</p>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% @patients.each do |patient| %>
  <p>---> <%= patient.content%> </p>
<%end%>


<a class="button" href="patients/new">New Patient</a>
