<p>Welcome, to your Physician Page</p>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% @patients.each do |patient| %>
  <p>---> <%= patient.username%> </p>
<%end%>

<p>Click to edit or add a new patient below.</p>

<a class="button" href="/patients/new">New Patient</a>
<a class="button" href="/patients/new">Edit Patient</a>
<a class="button" href="/logout">Logout</a>
