<h2> Login </h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form method="post" action="/patients/login">
  <label>Username</label><br>
  <input type="text" name="username">
  <br>
  <br>

  <label>Password</label><br>
  <input type="text" name="password">
  <br>
  <br>

  <input type="submit" id="submit" value="Login">

  <h3>Not yet a patient member? Sign Up here:</h3>

  <a href="/patients/signup"> Sign Up </a>

</form>
