<h2> Login </h2>

<form method="post" action="/patients/login">
  <label>Username</label><br>
  <input type="text" name="username">
  <br>
  <br>

  <label>Password</label><br>
  <input type="text" name="password">
  <br>
  <br>

  <input type="submit" id="submit" value="Login">

  <h3>Not yet a member? Sign Up here:</h3>

  <input type="submit" id="submit" value="Sign Up">

</form>
