<% if flash.has?(:message) %>
    <%=flash[:message] %>
        <% end %>
          <h2> Login </h2>
            <br>
            <br>
            <p>Patient Sign In</p>
            <p>Please Login to Your Profile</p>
              <form method="post" action="/patients/login">
                <label>Username
                  <input id="username" name="username">
                </label>
                <br>
                <br>
                <br>
                <label>Password
                  <input id="password" name="password">
                </label>
                <br>
                <br>
                <br>
                  <input type="submit" id="submit" value="Login">
                <br>
                <br>
                <a class="button" href="/logout">Return to Main Menu</a>
              </form>