<!DOCTYPE html>
<html lang="en">

   <style>
   body {
        background-image: url('/img/photo-1528460033278-a6ba57020470.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
      }
   a {
      font-family: 'Roboto', sans-serif;
      color: black;
      text-shadow: none;
   }
   p {
      font-family: 'Roboto', sans-serif;
      margin-left: 300px;
   }
   .col-sm {
      padding-top: 150px;
   }
   h2 {
    margin-left: 250px;
   }
   form {
      margin-left: 300px;
   }
   </style>
<div class="container">
<div class="form-box">
<div class="col-sm">
<div class="header-text">   
<div class="header">

<% if flash.has?(:message) %>
    <%=flash[:message] %>
        <% end %>
          <h2> Create Patient </h2>
          <br>
            <form method="post" action="/patients/new">
              <label>Username:
              <input id="username" name="username">  
              </label>
              <br>
              <br>
              <br>
              <label>Password:
              <input id="password" name="password">
              </label>
              <br>
              <br>
              <br>
              <label>Medical History:
              <input id="medical_history" name="medical_history">
              </label>
              <br>
              <br>
              <br>
              <label>Active Medical Problems:
              <input id="active_problems" name="active_problems">
              </label>
              <br>
              <br>
              <br>
              <input type="submit" value="Submit">
            </form>
  </div>
</div>
</div>
</div> 
