<% if flash.has?(:message) %>
    <%=flash[:message] %>
        <% end %>
          <h2> Create Patient </h2>
          <br>
            <form method="post" action="/patients/new">
              <label>Username:
              <input id="username" name="username">  
              </label>
              <br>
              <br>
              <br>
              <label>Password:
              <input id="password" name="password">
              </label>
              <br>
              <br>
              <br>
              <label>Medical History:
              <input id="medical_history" name="medical_history">
              </label>
              <br>
              <br>
              <br>
              <label>Active Medical Problems:
              <input id="active_problems" name="active_problems">
              </label>
              <br>
              <br>
              <br>
              <input type="submit" value="Submit">
              <br>
              <br>
              <a class="button" href="/logout">Return to Main Menu</a>
            </form>