<!DOCTYPE html>
<html lang="en">

   <style>
   body {
        background-image: url('/img/photo-1528460033278-a6ba57020470.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
      }
   a {
      font-family: 'Roboto', sans-serif;
      color: black;
      text-shadow: none;
   }
   p {
      font-family: 'Roboto', sans-serif;
   }
   .col-sm {
      padding-top: 100px;
   }
   h1 {
      color: #F8F8FF;
   }
   .text-center {
   }
   .col-md {

   }
   </style>
<div class="container">
<div class="form-box">
<div class="col-sm">
<div class="header-text text-center">   
<div class="header">
<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
    <% end %>
</div>

  <section>
    <div class="text-center">
      <br>
      <br>
        <h3> Name:
      <%= @patient.username %>
    </h3>
        <br>
        <br>
        <h3> Medical History:
      <%= @patient.medical_history %>
        </h3>
        <br>
        <br>
        <h3> Active Problems:
      <%= @patient.active_problems %>
       </h3> 
    </div>
  </section>

<footer class="page-footer font-small blue">
  <br>
  <a class="button" href="/logout">Logout</a>
  <br>
</footer>
</div>
</div>
</div> 