<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
    <% end %>
    <div class="col-5-center">
      <div class="text-center">
      <br>
      <br>
      <br>
      <p>
        <h3> Name:
      <%= @patient.username %>
    </h3>
        <br>
        <br>
        <h3> Medical History:
      <%= @patient.medical_history %>
    </h3>
        <h3> Active Problems:
      <%= @patient.active_problems %>
      </div>
    </div>
       </h3> 
    </p> <a class="button" href="/logout">Logout</a>