<div class="header">
<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
    <% end %>
</div>
  <section>
    <div class="text-center">
      <br>
      <br>
        <h3> Name:
      <%= @patient.username %>
    </h3>
        <br>
        <br>
        <h3> Medical History:
      <%= @patient.medical_history %>
    </h3>
        <h3> Active Problems:
      <%= @patient.active_problems %>
      </div>
  </section>
       </h3> 
<footer class="page-footer font-small blue">
  <br>
  <a class="button" href="/logout">Logout</a>
  <br>
</footer>