<% if flash.has?(:message) %>
  <%= flash[:message] %>
    <% end %>
    <div class="col-5-center">
      <div class="text-center">
      <br>
      <br>
      <br>
      <p>
        <h2> Name:
      <%= @patient.username %>
    </h2>
        <br>
        <br>
        <h2> Medical History:
      <%= @patient.medical_history %>
    </h2>
        <h2> Active Problems:
      <%= @patient.active_problems %>
      </div>
    </div>
     </h2> </p> <a class="button" href="/logout">Logout</a>