<h2> Patient Signup </h2>

<form method="post" action="/patients/new">
  <label>Username</label><br>
  <input type="text" name="username">
  <br>
  <br>
  <label>First Name</label><br>
  <input type="text" name="first name">
  <br>
  <label>Last Name</label><br>
  <input type="text" name="last name">
  <br>
  <br>
  <label>Password</label><br>
  <input type="text" name="password">
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form>
