<h2>Welcome to your electronic health record</h2>

<nav>
  <% if logged_in? %>

    <a href="/physicians/<%= @physician.id %>"> Physician Profile Page </a>
    <br>
    <br>
    <br>
    <a href="/patients/<%= @patient.id %>"> Patient Profile Page </a>
    <br>
    <br>
    <br>
    <a class="button" href="/logout">Logout</a>

  <% else %>
  <p>Please sign in below:</p>
    <br>
    <a href="/physicians/login"> Physician Sign In </a>
    <br>
    <br>
    <br>
    <a href="/patients/login"> Patient Sign In </a>

  <%end %>

</nav>
