<!DOCTYPE html>
<html lang="en">

   <style>
   body {
      background-image: url('/img/surgery-1807541_1920 2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      background-attachment: fixed;
      }
   a {
      font-family: 'Roboto', sans-serif;
      color: #F8F8FF;
   }
   p {
      color: #F8F8FF;
      font-family: 'Roboto', sans-serif;
   }
   .col-sm {
      padding-top: 0px;
   }
   .form-box {
	   background-color: rgba(0, 0, 0, 0.6);
	   margin: auto auto;
	   padding: 20px;
	   border-radius: 5px;
	   box-shadow: 0 0 10px #000;
	   position: absolute;
	   top: 15px;
	   bottom: 0;
	   left: 0;
	   right: 0;
	   width: 100%; 
      max-width: 450px;
	   max-height: 50%;
      height: 425px;
   }
   h1 {
      color: #F8F8FF;
   }
   .row {
      padding: 10px;
   }
   </style>
<div class="container">
<div class="form-box">
<div class="header-text text-center">   
<% if flash.has?(:message) %>
<%=flash[:message] %>
<% end %>
   <h1>Welcome</h1>
   <% if session[:user_type]=="physician" %>
   <a href="/physicians/<%= @physician.id %>"> Physician Profile Page </a>
   <a class="button" href="/logout">Logout</a>
   <% elsif session[:user_type]=="patient" %>
   <a href="/patients/<%= @patient.id %>"> Patient Profile Page </a>
   <a class="button" href="/logout">Logout</a>
   <% else %>
   <div class="row">
      <p class="font-weight-bold">Please sign in below:</p>
   </div>
   <div class="row">
      <a href="/physicians/login"> Physician Sign In </a>
   </div>
   <div class="row">
      <a href="/patients/login"> Patient Sign In </a>
   </div>
 <% end %>
</div>
</div>
</div>   



