<h2>Welcome to your electronic health record</h2>

<nav>
  <% if logged_in? %>

    <a href="/patients/new"> For Physician Use: Enter Patient Data </a>
    <br>
    <br>
    <br>
    <a href="/patients/show"> For Patient Use: View Your Profile </a>
    <br>
    <br>
    <br>
    <a href="/logout"> Log Out </a>

  <% else %>
  <p>Please sign in below:</p>
    <br>
    <a href="/physicians/login"> Physician Sign In </a>
    <br>
    <br>
    <br>
    <a href="/patients/login"> Patient Sign In </a>
  <%end %>

</nav>
