<!doctype html>
<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" href="/styles.css">
    <title>Electronic Medical Record System</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to E-Health Records</h1>
      <%= yield %>
    </div>

  </body>
</html>
