<!doctype html>
<html>
  <head>
    <title>Patient Electronic Medical Record System</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to your health record</h1>
      <%= yield %>
    </div>

  </body>
</html>
